@panel-radius: 2px;
@panel-shadow: black 3px 3px 10px;
@panel-spacing: 7px;
@panel-bgcolor: white;

@button-pressed-bgcolor: #e6e6e6;
@button-pressed-color: #333;
@button-pressed-border-color: #adadad;
@button-hover-color: #EEE;

@separator-border: solid #CCCCCC 1px;

.selected-but {
  color: @button-pressed-color;
  background-color: @button-pressed-bgcolor;
  border-color: @button-pressed-border-color;
}

.panel-shadow {
  -webkit-box-shadow: @panel-shadow;
  -moz-box-shadow: @panel-shadow;
  box-shadow: @panel-shadow;
}
//////////////////////////////////////////////////////////////////////////////////
//BOOTSTRAP OVERRIDE
.row {
  margin: 0;
}

.glyphicon {
  top: 0;
}

.col-md-12, .col-md-1, .col-md-11, .col-md-10, .col-md-6 {
  padding: 0;
}

.nav-tabs>li {
  margin: 0;
  a {
    margin-right: 0;
    border-radius: 0;
    border: none;
  }
}
.nav-tabs {
  border: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  overflow: hidden;
  border: none;
  color: @button-pressed-color;
  background-color: @button-pressed-bgcolor;
}

.modal-sm {
  height: 100%;
}

.modal-content {
  height: 100%;
  border: none;
  border-radius: 0;
}

///////////////////////////////////////////////////////////////////////////////////
//LEAFLET.CONTEXTMENU OVERRIDE

.leaflet-contextmenu {
  .panel;
  padding: 0;
}

.leaflet-contextmenu a.leaflet-contextmenu-item {
  line-height: 30px;
  font-size: 14px;
}
.leaflet-contextmenu a.leaflet-contextmenu-item.over {
  background-color: @button-hover-color;
}

.leaflet-contextmenu-icon {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
}
///////////////////////////////////////////////////////////////////////////////////
//.awesome-marker-icon-green {
//  cursor: pointer;
//}
.rack-marker {
  cursor: pointer;
}

.title {
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.bicycles {
  .fa-bicycle {
    color: #1478C7;
    font-size: 18px;
  }
}

a.list-group-item.col-md-12 {
  border-radius: 0;
}
#language-dropdown-icon {
  padding-left: 60%;
}

#language-dropdown .list-group-item {
  padding-left: 50px;
}
.list-group-item {
  line-height: 40px;
  padding-left: 20px;
  //border-bottom: @separator-border;
  //border-top: @separator-border;
}

.credits {
  padding-top: 20px;
  .row {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

.left-block {
  padding: 0;
  margin: 10px;
}

.panel {
  .panel-shadow;
  background-color: @panel-bgcolor;
  border-radius: @panel-radius;
  margin: 0 0 @panel-spacing 0;
}

.panel, .input-group-addon{
  border: none;
}

.remove-point {
  color: @panel-bgcolor;
}

#routes-panel, #error-panel, #chart-panel, #legend {
  display: none;
}

.routes-panel {
  //.panel-panel-shadow;
  //background-color: @panel-bgcolor;
  //border-panel-radius: @panel-radius;
  margin: 0 0 @panel-spacing 0;
}

#chart-panel {
  position: relative;
  z-index: 8888;
  .panel-shadow;
  background-color: @panel-bgcolor;
  border-radius: @panel-radius;
  margin: 0;
}

.all-route-params i {
  text-align: center;
  //line-height: 25px;
  //font-size: 16px;
  padding-bottom: 8px;
  padding-top: 8px;
  //border-top: solid #CCCCCC 1px;
}

.route-options {
  border-left: @separator-border;
}

#full-route-description {
  border-bottom: @separator-border;
}

.input-group, .form-control {
  :focus, :active {
    //box-panel-shadow: inset 0px -1px 4px -1px rgb(84, 157, 255);
  }
  border:none;
  box-shadow: none;
}

.action-icon {
  text-align: center;
  i, span {
    font-size: 18px;
    padding: 8px;
  }
}

.action-icon:hover {
  cursor: pointer;
  background-color: @button-hover-color;
}

.btn-default {
  text-shadow: none;
}

.btn, .input-group-addon, .input-group, .form-control {
  border-radius: 0;
  border-left: 0;
  border-top: 0;

}


.drag-drop {
  //border: none;
  :hover {
    cursor: -webkit-grab;
    cursor: -moz-grab;
  }
  :active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
  }
}

.focus-in {
  color: #666666;
}

#search-group {
  background-color: transparent;

  .input-group {
    border-bottom: solid #CCCCCC 1px;
  }

  .input-group:hover button {
    color: #666666;
  }

  .search-destination {
    border:none;
  }
  input {
    height: 35px;
  }

  .right-addon {
    border: none;
    background-color: @panel-bgcolor;
  }

  //icons
  i {
    font-size: 18px;
  }
}

.start-icon {
  color: dodgerblue;
}
.middle-point-icon {
  color: darkorange;
}
.destination-icon {
  color: red;
}
.disabled-icon {
  color: gray;
}
#changeDirectionIcon {
  -ms-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  transform: rotate(90deg);
}

#addPointIcon, #changeDirectionIcon {
  float: left;
}


/*.vCenter {*/
/*text-align:center;*/
/*line-height:90px;*/
/*width:30px;*/
/*height:70px;*/
/*font-size:20px;*/
/*float:left;*/
/*}*/

.route-desc > hr {
  color: grey;
  background-color: grey;
  height: 1px;
  margin: 0 0 0 2px;
  width: 80%;
}
.route-desc {
  text-align: left;
  border-radius: @panel-radius;
  padding: 0 0 0 10px;
  font-size: 14px;
  line-height:20px;
}

.route-but {
  .panel-shadow;
}


#legend {
  .panel-shadow;
  background-color: @panel-bgcolor;
  -webkit-border-radius: @panel-radius;
  -moz-border-radius: @panel-radius;
  border-radius: @panel-radius;
}

#legend label,
#legend span {
  display:block;
  float:left;
  height:15px;
  text-align:center;
  font-size:10px;
  color:black;
}
#speed-legend label, #speed-legend span, #elevation-legend label, #elevation-legend span, {
  width: 14.28%;
}
#surface-legend label, #surface-legend span{
  width: 25%;
}
#road-type-legend label, #road-type-legend span{
  width: 12.5%;
}

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #fff;
  cursor: default;
  overflow: auto;
}
.autocomplete-suggestion {
  //padding: 7px 5px;
  padding-left: 5px;
  line-height: 25px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete-selected {
  background: #f0f0f0;
}
.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399ff;
}
.autocomplete-distance {
  width: 15%;
  text-align: center;
  background-color: @button-pressed-bgcolor;
  //padding: 4px;
  float: right;
}


#tr{
  fill:transparent;
  transition:fill .3s;
}
#tr:hover{
  fill: orange;
}

/*svg {*/
/*position: absolute;*/
/*top: 150px;*/
/*display:block;*/
/*width:30%;*/
/*}*/


/*TRIANGLES v2*/

.triangle {
  overflow:hidden;
  height:102px;
}

#tFirst {
  position:absolute;
  top: 200px;
  left: 10px;
}
#tSecond {
  position:absolute;
  top: 300px;
  left: 10px;

  -ms-transform:rotate(60deg);
  -webkit-transform:rotate(60deg);
  transform: rotate(60deg);
}
#tThird {
  position:absolute;
  top: 300px;
  left: 10px;
}
#tFourth {
  position:absolute;
  top: 350px;
  left: 10px;
}

.tInner {
  display:block;
  height:102px;
  width:117px;
  background-color: #2382ff;

  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;

  -ms-transform:rotate(60deg) skewX(30deg);
  -webkit-transform:rotate(60deg) skewX(30deg);
  transform: rotate(60deg) skewX(30deg);
}

.tInner:hover {
  background-color: #3a4cff;
  cursor: pointer;
}