@panel-radius: 2px;
@panel-shadow: black 3px 3px 10px;
@panel-spacing: 7px;
@panel-bgcolor: white;

@button-pressed-bgcolor: #e6e6e6;
@button-pressed-color: #333;
@button-pressed-border-color: #adadad;
@button-hover-color: #EEE;

@separator-border: solid #CCCCCC 1px;

.selected-but {
  color: @button-pressed-color;
  background-color: @button-pressed-bgcolor;
  border-color: @button-pressed-border-color;
}

.panel-shadow {
  -webkit-box-shadow: @panel-shadow;
  -moz-box-shadow: @panel-shadow;
  box-shadow: @panel-shadow;
}
//////////////////////////////////////////////////////////////////////////////////
//BOOTSTRAP OVERRIDE
.row {
  margin: 0;
}
.input-group-addon {
  padding: 0;
  border: none;
}
button.close {
  padding: 6px 13px;
}

.glyphicon {
  top: 0;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9 , .col-md-10, .col-md-11, .col-md-12  {
  padding: 0;
}

.navbar {
  margin-bottom: 0;
  border: none;
  box-shadow: black 3px 3px 10px;
  background-color: @panel-bgcolor;
}

.navbar-header {
  float: none;
}
.container-fluid {
  padding-left: 0;
}

.nav>li>a {
  padding: 10px 25px;
}
.nav-tabs>li {
  margin: 0;
  a {
    margin-right: 0;
    border-radius: 0;
    border: none;
  }
}
.nav-tabs {
  border: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  overflow: hidden;
  border: none;
  color: @button-pressed-color;
  background-color: @button-pressed-bgcolor;
}
.input-group, .form-control {
  border:none;
  box-shadow: none;
}

.btn-default {
  text-shadow: none;
}

.btn, .input-group-addon, .input-group, .form-control {
  border-radius: 0;
  border-left: 0;
  border-top: 0;

}

.modal-sm {
  height: 100%;
}

.modal-lg {
  position:fixed;
  top: 5%;
  left: 29%;
}

.modal-content {
  height: 100%;
  border: none;
  border-radius: 0;
}

.list-group-item:hover {
  cursor: pointer;
}

///////////////////////////////////////////////////////////////////////////////////
//LEAFLET.CONTEXTMENU OVERRIDE

.leaflet-contextmenu {
  .panel;
  padding: 0;
}

.leaflet-contextmenu a.leaflet-contextmenu-item {
  line-height: 30px;
  font-size: 14px;
}
.leaflet-contextmenu a.leaflet-contextmenu-item.over {
    background-color: @button-hover-color;
}

.leaflet-contextmenu-icon {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
}

.leaflet-popup-content-wrapper {
  box-shadow: @panel-shadow;
  border-radius: @panel-radius;
}

.leaflet-control {
  z-index: initial;
}
///////////////////////////////////////////////////////////////////////////////////

.criteria-weight-tab, .criteria-weight {
  height: 3px;
}
.selected-weight {
  height: 5px;
}
.criteria-weight {
  float: left;
}
.duration-desc, .stress-desc {
  border-right: @separator-border;
}
.description-tab {
  border-top: @separator-border;
  line-height: 16px;
}

#criteria-row, .one-criteria {
  font-size: 11px;
  line-height: 25px;
  font-weight: bold;
}
.one-description {
  text-align: left;
  font-size: 11px;
}

.description-value {
  text-align: left;
}
.description-label {
  text-align: right;
  padding-left: 5px;
}

.description-icon {
  text-align: center;
  i, span {
    font-size: 12px;
    padding: 5px;
  }
}

#settings-body {
  color: gray;
}
#avg-speed-input {
  padding: 0;
  width: 40px;
  text-align: center;
  border: @separator-border;
}

#smartbanner {
  position: relative !important;
}

#text-feedback, #api-reason {
  resize: none;
}


#api-reason {
  margin-top: 5px;
}
.rack-marker {
  cursor: pointer;
}
.bike-stand {
  img {
    width: 20px;
    height: 20px;
    opacity: 0.6;
  }
}

.title {
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.bicycles {
  .fa-bicycle {
    color: #1478C7;
    font-size: 18px;
  }
}

a.list-group-item.col-md-12 {
  border-radius: 0;
}

#language-dropdown .list-group-item {
  padding-left: 50px;
}
.list-group-item {
  line-height: 40px;
  padding-left: 20px;
}
#language-dropdown-icon {
  line-height: 40px;
}

.credits {
  padding-top: 20px;
  .row {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


body {
  overflow: hidden;
}

#map {
  position:absolute;
  top:50px;
  bottom:0;
  width:100%;
}

.left-block {
  padding: 0;
  margin: 10px;
}

.panel {
  .panel-shadow;
  border: none;
  background-color: @panel-bgcolor;
  border-radius: @panel-radius;
  margin: 0 0 @panel-spacing 0;
}

.remove-point {
  padding: 6px 12px;
  color: @panel-bgcolor;
}
.focus-in {
  color: #666666;
}

#routes-panel, #error-panel, #legend, #cancel-button {
  display: none;
}

#error-panel {
  box-shadow: black 3px 3px 10px;
  border-radius: 2px;
}

#routes-panel {
  margin: 0 0 @panel-spacing 0;
  .route-but {
    background-color: @panel-bgcolor;
  }
}

.small-chart {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 40px;
}

.drag-drop {
  :hover {
    cursor: -webkit-grab;
    cursor: -moz-grab;
  }
  :active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
  }
}

#search-group {
  background-color: transparent;

  .input-group {
    border-bottom: solid #CCCCCC 1px;
  }

  .input-group:hover button {
    color: #666666;
  }

  .search-destination {
    border:none;
  }
  input {
    height: 35px;
  }

  .right-addon {
    border: none;
    background-color: @panel-bgcolor;
  }

  //icons
  i {
    font-size: 17px;
    padding: 6px 14px;
  }
}

.action-icon {
  text-align: center;
  i, span {
    font-size: 18px;
    padding: 8px;
  }
}

.action-icon:hover, .criteria-tab:hover, .description-icon:hover {
  cursor: pointer;
  background-color: @button-hover-color;
}

.start-icon {
  color: dodgerblue;
}

.middle-point-icon {
  color: darkorange;
}

.destination-icon {
  color: red;
}

.disabled-icon {
  color: gray;
  cursor: auto;
}

#change-direction-icon {
  -ms-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  transform: rotate(90deg);
}

#settings-button, #cancel-button, #share-button, #export-button {
  float: right;
}

#menu-button {
  line-height: 50px;
}

#legend {
  .panel-shadow;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: @panel-radius;
  -moz-border-radius: @panel-radius;
  border-radius: @panel-radius;

  .legend-color-block {
    width: 20px;
    height: 20px;
    float: left;
  }
  .legend-label {
    font-size: 10px;
    float: left;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
  }
  .legend-title{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }
}

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #fff;
  cursor: default;
  overflow: auto;
}
.autocomplete-suggestion {
  padding-left: 5px;
  line-height: 25px;
  font-size: 12px;
  overflow: hidden;
}
.autocomplete-selected {
  background: #f0f0f0;
}
.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399ff;
}
.autocomplete-distance {
  width: 15%;
  text-align: center;
  background-color: @button-pressed-bgcolor;
  float: right;
}