.selected-but {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.panel-shadow {
  -webkit-box-shadow: black 3px 3px 10px;
  -moz-box-shadow: black 3px 3px 10px;
  box-shadow: black 3px 3px 10px;
}
.row {
  margin: 0;
}
.input-group-addon {
  padding: 0;
}
button.close {
  padding: 6px 13px;
}
.glyphicon {
  top: 0;
}
.col-md-12,
.col-md-1,
.col-md-11,
.col-md-10,
.col-md-6,
.col-md-8,
.col-md-2,
.col-md-4,
.col-md-7,
.col-md-5 {
  padding: 0;
}
.navbar {
  margin-bottom: 0;
  border: none;
  box-shadow: black 3px 3px 10px;
}
.navbar-header {
  float: none;
}
.container-fluid {
  padding-left: 0;
}
.nav > li > a {
  padding: 10px 25px;
}
.nav-tabs > li {
  margin: 0;
}
.nav-tabs > li a {
  margin-right: 0;
  border-radius: 0;
  border: none;
}
.nav-tabs {
  border: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  overflow: hidden;
  border: none;
  color: #333333;
  background-color: #e6e6e6;
}
.modal-sm {
  height: 100%;
}
.modal-lg {
  position: fixed;
  top: 5%;
  left: 29%;
}
.modal-content {
  height: 100%;
  border: none;
  border-radius: 0;
}
.leaflet-contextmenu {
  -webkit-box-shadow: black 3px 3px 10px;
  -moz-box-shadow: black 3px 3px 10px;
  box-shadow: black 3px 3px 10px;
  background-color: white;
  border-radius: 2px;
  margin: 0 0 7px 0;
  border: none;
  padding: 0;
}
.leaflet-contextmenu a.leaflet-contextmenu-item {
  line-height: 30px;
  font-size: 14px;
}
.leaflet-contextmenu a.leaflet-contextmenu-item.over {
  background-color: #eeeeee;
}
.leaflet-contextmenu-icon {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
}
#criteria-row,
.one-criteria {
  font-size: 11px;
  line-height: 25px;
  font-weight: bold;
}
.description-value {
  text-align: left;
}
.description-label {
  text-align: right;
  padding-left: 5px;
}
#smartbanner {
  position: relative !important;
}
#text-feedback,
#api-reason {
  resize: none;
}
.one-description {
  text-align: center;
}
.one-description:hover {
  background-color: #eeeeee;
}
#more-description-row {
  line-height: 23px;
}
#api-reason {
  margin-top: 5px;
}
.rack-marker {
  cursor: pointer;
}
.bike-stand img {
  width: 20px;
  height: 20px;
  opacity: 0.6;
}
.title {
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.bicycles .fa-bicycle {
  color: #1478C7;
  font-size: 18px;
}
a.list-group-item.col-md-12 {
  border-radius: 0;
}
#language-dropdown .list-group-item {
  padding-left: 50px;
}
.list-group-item {
  line-height: 40px;
  padding-left: 20px;
}
#language-dropdown-icon {
  line-height: 40px;
}
.credits {
  padding-top: 20px;
}
.credits .row {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
body {
  overflow: hidden;
}
#map {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
}
.left-block {
  padding: 0;
  margin: 10px;
}
.panel {
  -webkit-box-shadow: black 3px 3px 10px;
  -moz-box-shadow: black 3px 3px 10px;
  box-shadow: black 3px 3px 10px;
  background-color: white;
  border-radius: 2px;
  margin: 0 0 7px 0;
}
.panel,
.input-group-addon {
  border: none;
}
.remove-point {
  padding: 6px 12px;
  color: white;
}
#routes-panel,
#error-panel,
#chart-panel,
#legend {
  display: none;
}
.routes-panel {
  margin: 0 0 7px 0;
}
#chart-panel {
  position: relative;
  z-index: 888;
  -webkit-box-shadow: black 3px 3px 10px;
  -moz-box-shadow: black 3px 3px 10px;
  box-shadow: black 3px 3px 10px;
  background-color: white;
  border-radius: 2px;
  margin: 0;
}
.small-chart {
  position: relative;
  width: 100%;
  height: 40px;
}
.all-route-params i {
  text-align: center;
  padding-bottom: 8px;
  padding-top: 8px;
}
.route-options {
  border-left: solid #cccccc 1px;
}
#full-route-description {
  border-bottom: solid #cccccc 1px;
}
.input-group,
.form-control {
  border: none;
  box-shadow: none;
}
.action-icon {
  text-align: center;
}
.action-icon i,
.action-icon span {
  font-size: 18px;
  padding: 8px;
}
.criteria-tab {
  overflow: hidden;
}
.action-icon:hover,
.criteria-tab:hover {
  cursor: pointer;
  background-color: #eeeeee;
}
.btn-default {
  text-shadow: none;
}
.btn,
.input-group-addon,
.input-group,
.form-control {
  border-radius: 0;
  border-left: 0;
  border-top: 0;
}
.drag-drop :hover {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
.drag-drop :active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
.focus-in {
  color: #666666;
}
#search-group {
  background-color: transparent;
}
#search-group .input-group {
  border-bottom: solid #CCCCCC 1px;
}
#search-group .input-group:hover button {
  color: #666666;
}
#search-group .search-destination {
  border: none;
}
#search-group input {
  height: 35px;
}
#search-group .right-addon {
  border: none;
  background-color: white;
}
#search-group i {
  font-size: 17px;
  padding: 6px 14px;
}
.start-icon {
  color: dodgerblue;
}
.middle-point-icon {
  color: darkorange;
}
.destination-icon {
  color: red;
}
.disabled-icon {
  color: gray;
  cursor: auto;
}
#change-direction-icon {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
#menu-button {
  line-height: 50px;
}
#settings-button,
#cancel-button {
  float: right;
}
#avg-speed-input {
  padding: 0;
  width: 40px;
  text-align: center;
  border: solid #cccccc 1px;
}
/*.vCenter {*/
/*text-align:center;*/
/*line-height:90px;*/
/*width:30px;*/
/*height:70px;*/
/*font-size:20px;*/
/*float:left;*/
/*}*/
.route-desc {
  text-align: left;
}
.route-but {
  border-bottom: solid #CCCCCC 1px;
  background-color: white;
}
#legend {
  -webkit-box-shadow: black 3px 3px 10px;
  -moz-box-shadow: black 3px 3px 10px;
  box-shadow: black 3px 3px 10px;
  background-color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#legend {
  background-color: rgba(255, 255, 255, 0.7);
}
.legend-color-block {
  width: 20px;
  height: 20px;
  float: left;
}
.legend-label {
  font-size: 10px;
  float: left;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}
.legend-title {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
.autocomplete-suggestions {
  border: 1px solid #999;
  background: #fff;
  cursor: default;
  overflow: auto;
}
.autocomplete-suggestion {
  padding-left: 5px;
  line-height: 25px;
  font-size: 12px;
  overflow: hidden;
}
.autocomplete-selected {
  background: #f0f0f0;
}
.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399ff;
}
.autocomplete-distance {
  width: 15%;
  text-align: center;
  background-color: #e6e6e6;
  float: right;
}
#tr {
  fill: transparent;
  transition: fill .3s;
}
#tr:hover {
  fill: orange;
}
/*svg {*/
/*position: absolute;*/
/*top: 150px;*/
/*display:block;*/
/*width:30%;*/
/*}*/
/*TRIANGLES v2*/
.triangle {
  overflow: hidden;
  height: 102px;
}
#tFirst {
  position: absolute;
  top: 200px;
  left: 10px;
}
#tSecond {
  position: absolute;
  top: 300px;
  left: 10px;
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
#tThird {
  position: absolute;
  top: 300px;
  left: 10px;
}
#tFourth {
  position: absolute;
  top: 350px;
  left: 10px;
}
.tInner {
  display: block;
  height: 102px;
  width: 117px;
  background-color: #2382ff;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -ms-transform: rotate(60deg) skewX(30deg);
  -webkit-transform: rotate(60deg) skewX(30deg);
  transform: rotate(60deg) skewX(30deg);
}
.tInner:hover {
  background-color: #3a4cff;
  cursor: pointer;
}
