
/*body {margin: 0;}*/
/*#right {float: right;}*/
#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}

#startIcon {
    color: dodgerblue;
    font-size: 18px;
}

#destinationIcon {
    color: red;
    font-size: 18px;
}

#changeDirectionIcon {
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform: rotate(90deg);
}

/*#addPointIcon {*/
    /*left: 15px;*/
    /*padding: 5px;*/
/*}*/

#settingsIcon, #hideIcon, #addPointIcon, #changeDirectionIcon{
    font-size: 20px;
}
#hideIcon {
    position: absolute;
    top: 5px;
    right: 5px;
}

#settingsIcon {
    position: absolute;
    top: 90px;
    right: 5px;
}

/*.vCenter {*/
    /*text-align:center;*/
    /*line-height:90px;*/
    /*width:30px;*/
    /*height:70px;*/
    /*font-size:20px;*/
    /*float:left;*/
/*}*/
.routeBut > hr {
    color: grey;
    background-color: grey;
    height: 1px;
    /*clear:      both;*/
    margin:     0;
    /*display:    block;*/
    width: 80%;
}
.routeBut {
    /*background-color: blue;*/
    /*text-align: center;*/
    border-radius: 5px;
    margin: 0px;
    padding-left: 10px;
    width:110px;
    height: 70px;
    font-size: 12px;
    line-height:20px;

    float: left;
    border: 1px solid grey;
}

.routeBut:hover {
    background-color: #c4c4c4;
}

.current {
    width: 330px;
    background-color: #bbb9ab;
}


.startDest {
    width: 80%;
    float:left;
}

#example, #routes, #settings {
    background-color: white;
    box-shadow: black 4px 6px 20px;
    position: absolute;
    width: 350px;
    left: 10px;
    padding: 0.5em;
}

#example {
    top: 10px;
    height: 115px;
}


#routes {
    display: none;
    top: 135px;
    height: 300px;
}

#settings {
    height: 100px;
    top: 125px;
}

#accordion {
    position: absolute;
    top: 10px;
    left: 365px;

}

#legend {
    background-color: white;
    padding: 10px;
    width: 500px;
}
#legend label,
#legend span {
    display:block;
    float:left;
    height:15px;
    width:14%;
    text-align:center;
    font-size:10px;
    color:black;
}


.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 7px 5px; font-size: 12px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }


#tr{
    fill:transparent;
    transition:fill .3s;
}
#tr:hover{
    fill: orange;
}

/*svg {*/
    /*position: absolute;*/
    /*top: 150px;*/
    /*display:block;*/
    /*width:30%;*/
/*}*/


/*TRIANGLES v2*/

.triangle {
    overflow:hidden;
    height:102px;
}

#tFirst {
    position:absolute;
    top: 200px;
    left: 10px;
}
#tSecond {
    position:absolute;
    top: 300px;
    left: 10px;

    -ms-transform:rotate(60deg);
    -webkit-transform:rotate(60deg);
    transform: rotate(60deg);
}
#tThird {
    position:absolute;
    top: 300px;
    left: 10px;
}
#tFourth {
    position:absolute;
    top: 350px;
    left: 10px;
}

.tInner {
    display:block;
    height:102px;
    width:117px;
    background-color: #2382ff;

    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;

    -ms-transform:rotate(60deg) skewX(30deg);
    -webkit-transform:rotate(60deg) skewX(30deg);
    transform: rotate(60deg) skewX(30deg);
}

.tInner:hover {
    background-color: #3a4cff;
    cursor: pointer;
}


