
/*body {margin: 0;}*/
/*#right {float: right;}*/
#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}

#startIcon {
    color: dodgerblue;
    font-size: 18px;
}

#destinationIcon {
    color: red;
    font-size: 18px;
}

#settingsIcon, #hideIcon {
    font-size: 20px;
}
#hideIcon {
    position: absolute;
    top: 5px;
    right: 5px;
}

#settingsIcon {
    position: absolute;
    top: 90px;
    right: 5px;
}

.vCenter {
    text-align:center;
    line-height:70px;
    width:30px;
    height:70px;
    font-size:20px;
    float:left;
}

.startDest {
    width: 80%;
    float:left;
}

#example, #routes, #settings {
    background-color: white;
    box-shadow: black 4px 6px 20px;
    position: absolute;
    width: 350px;
    left: 10px;
    padding: 0.5em;
}

#example {
    top: 10px;
    height: 115px;
}


#routes {
    display: none;
    top: 135px;
    height: 300px;
}

#settings {
    height: 100px;
    top: 125px;
}

#accordion {
    position: absolute;
    top: 10px;
    left: 365px;

}

#legend {
    background-color: white;
    padding: 10px;
    width: 500px;
}
#legend label,
#legend span {
    display:block;
    float:left;
    height:15px;
    width:14%;
    text-align:center;
    font-size:10px;
    color:black;
}


.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 7px 5px; font-size: 12px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }